<article class="page">
    <header class="page-header">
        <h1 class="page-title">{{page.metadata.title}}</h1>
        
        {{#if page.metadata.date}}
        <div class="page-meta">
            <time datetime="{{page.metadata.date}}">
                {{date page.metadata.date}}
            </time>
            
            {{#if page.metadata.readingTime}}
            <span class="reading-time">{{page.metadata.readingTime}} min read</span>
            {{/if}}
        </div>
        {{/if}}
    </header>

    <div class="page-content">
        {{{page.content}}}
    </div>

    {{#if (and page.metadata.headings (gt page.metadata.headings.length 1))}}
    <aside class="table-of-contents">
        <h3>Table of Contents</h3>
        <ul>
        {{#each page.metadata.headings}}
            <li class="toc-level-{{this.level}}">
                <a href="#{{this.slug}}">{{this.text}}</a>
            </li>
        {{/each}}
        </ul>
    </aside>
    {{/if}}
</article>